# --- LIBRERÍAS DE LA WEB ---
streamlit
pillow

# --- LIBRERÍAS DE VISIÓN ARTIFICIAL ---
opencv-python-headless

# --- LIBRERÍAS DE IA (VERSIÓN CPU PARA RENDER) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics